/* style.css */
.search-result-page {
    padding: 20px;
  }
  
  .search-result-item {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .result-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .result-username {
    font-size: 1.2rem;
  }
  
  .result-email {
    margin-bottom: 10px;
  }
  /* style.css */
.container {
  display: grid;
  gap: 20px; /* Example: Gap between grid items */
  margin-left: 20%;
}

/* Ensure each grid item is displayed as block and takes full width */
.container > * {
  display: block;
  width: 100%;
}
.post{
  width: 40% !important;
}